/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/product-attributes-table.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.product-attributes-table_table__SPAUo {

    width: 100%
}

.product-attributes-table_table__SPAUo td {

    border-bottom-width: 2px;

    --tw-border-opacity: 1;

    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));

    padding-top: 1rem;

    padding-bottom: 1rem
}

.product-attributes-table_table__SPAUo tr:last-child td {

    border-bottom-width: 0px
}
